/*DEFAULT STYLES*/
@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/poppins-fonts.woff2);
}

:root{
    /*Contrast Ratio: 8.61:1 --> Passes WCAG Accessibility Test for Normal Text, Large Text, Graphical Objects and User Interface Components*/
    --light-green: rgb(212, 223, 214);
    --dark-green: rgb(27, 63, 33)
}

body{
    background-color: var(--light-green);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    height: 100vh; /*support for older browsers*/
    max-height: 1400px;
}



/*HERO SECTION STYLES*/
.hero-section{
    height: 100%;
    width: 50%;
    text-align: end;
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-section .hero-container{
    color: var(--dark-green);

}

.hero-section .hero-container .hero-tagline{
    font-weight: 500;
}

.hero-section .hero-container .hero-title{
    font-weight: 400;
    font-size: 1.75rem;
}

.hero-section .hero-container > *:not(:last-child){
    margin-bottom: 2rem;
}

.hero-section .hero-container > *:not(:nth-child(3)){
    text-transform: uppercase;
}

.hero-section .hero-container .hero-button{
    padding: 1rem 2rem;
    color: #fff;
    background-color: var(--dark-green);
    letter-spacing: 2px;
    font-weight: 400;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.hero-section .hero-container .hero-button:hover{
    filter: brightness(1.3);
}



/*IMAGE CONTAINER STYLES*/
.img-container{
    width: 50%;
    height: 100%;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*RESPONSIVE STYLES*/
@media screen and (max-width: 1200px){
    main{
        flex-direction: column;
        height: 100vh;
        
    }

    .hero-section{
        width: 100%;
        height: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }

    .img-container{
        width: 100%;
        height: 50%;
    }
    
}

@media screen and (max-width: 768px){
    main{
        flex-direction: column;
        height: 100vh;
        
    }

    .hero-section .hero-container > *:not(:last-child){
        margin-bottom: 1rem;
    }
}